﻿html, body
{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
}

canvas
{
	background: url('pic/Start_2.jpg');
	background-size: 100% 100%;
}

canvas.stretched
{
	width:100%;
	height:100%;
}

.centered {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -400px;
	margin-top: -300px;
}

div.game-container {
	width: 800px;
	height: 600px;
	border: 1px solid #DDD;
}